@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #b5a05e;
  --secondary: #162135;
  --tertiary: #f8f9fa;
}

body {
  color: var(--primary);
  background: var(--secondary);
  font-family: Georgia, "Times New Roman", Times, serif;
}

@layer utilities {
  .text-center-xl {
    @apply text-center text-2xl md:text-3xl;
  }

  .common-section {
    @apply w-full px-[5%] py-[5dvh];
  }
}
