@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #d2b646;
  --secondary: #1b2c4a;
  --tertiary: #f8f9fa;
}

body {
  color: var(--primary);
  background: var(--secondary);
  font-family: Georgia, "Times New Roman", Times, serif;
}
