@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #d2b646;
  --secondary: #162135;
  --tertiary: #b5a05e;
  --white: #f8f9fa;
}

body {
  color: var(--primary);
  font-family: Georgia, "Times New Roman", Times, serif;
}
